Repository nunopenim/module-universe, changes with the owners that CODEOWNERS names for each.
All owners: @nunopenim, @prototype74, @githubcatw

CODEOWNERS:

# Project owners
* @nunopenim @prototype74
/Licenses

#
# This part will list all module owners per module individually
#
# Base64 utilities module
/src/base_64.py @nunopenim

# CAS Interface module
/src/cas_interface.py @nunopenim @prototype74

# Fake Dice module
/src/fake_dice.py @nunopenim

# Imgflip Meme Generator module
/src/imgflip.py @prototype74

# Memes module
/src/memes.py @prototype74

# Mention module
/src/mention.py @nunopenim

# nHentai module
/src/nhentai.py @nunopenim

# Python Interpreter module
/src/python.py @nunopenim @prototype74

# Requirements Installer module
/src/req_installer.py @githubcatw @nunopenim

# Spam module
/src/spam.py @nunopenim

# Sticker Searcher
/src/sticker_search.py @nunopenim

# SuperUser module
/src/superuser.py @nunopenim

# Text Replies module
/src/text_replies.py @nunopenim

# Text Utilities module
/src/test_utils.py @nunopenim

README: updated sections
  README.md
Owners: @nunopenim, @prototype74

README: updated copyright year
  README.md
Owners: @nunopenim, @prototype74

src: proper import if HyperUBot v7.0.0+
  src/memes.py
  src/mention.py
Owners: @prototype74, @nunopenim

memes: added new argument 'up' to .oof command
  src/memes.py
Owners: @prototype74

memes: bump version to 1.2.0
  src/memes.py
Owners: @prototype74
